<!-- Header-->
<div class=" head-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a [routerLink]="['']"><img src="./assets/img/smallestsize.png" class="pull-left logo"></a>
      </div>

      <div class="col-md-6 col-xs-12">
        <ul class=" list-unstyled list-head">
          <li> <a> Have any Question?</a></li>
          <li> <a> Go For Admissions Without Any Race</a></li>
          <li><a [routerLink]="['/login']" class="a-log" target="_blank">LOGIN &nbsp;/&nbsp;</a>
            <a [routerLink]="['/register']" class="a-log" target="_blank">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class=" socail-head ">
        <div class="col-md-3 col-xs-12">
          <a><i class="fa fa-facebook "></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-linkedin"></i></a>
          <a><i class="fa fa-vimeo"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
<!--End Header -->
