<app-slider></app-slider>

<!-- Section 1 -->
<div class="information">
  <div class="container ">
    <div class="row ">
      <div class="col-md-4 info1">
        <div>
          <a><i class="fa fa-calendar fa-3x "></i></a>
          <p class="text1">VISIT SCHOOL TODAY</p>
          <p class="text2">We hope that we are that best </p>
        </div>
      </div>

      <div class="col-md-4 info2">
        <div>
          <a><i class="fa fa-bell-o fa-3x"></i></a>
          <p class=" text1">VISIT SCHOOL TODAY</p>
          <p class="text2">We hope that we are that best </p>
        </div>
      </div>

      <div class="col-md-4 info3">
        <div>
          <a><img src="./assets/img/02.jpg"></a>
          <p class=" text1">VISIT SCHOOL TODAY</p>
          <p class="text2">We hope that we are that best </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-subscribe></app-subscribe>
