<!-- Footer -->
<footer class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 help">
        <h3>Get in Touch</h3>
        <p>We always here for help you </p>
      </div>

      <div class="col-md-3 col-sm-6 time">
        <i class="fa fa-map-marker fa-3x"></i>
        <h3>Get Appointment</h3>
        <p>8:00 AM - 4:00 PM</p>
      </div>

      <div class="col-md-3 col-sm-6 contact-us">
        <i class="fa fa-phone fa-3x"></i>
        <h3>Contact Us Today</h3>
        <p>(408)800 8888</p>
      </div>

      <div class="col-md-3 col-sm-6 tour">
        <i class="fa fa-hourglass-o fa-3x"></i>
        <h3>Take an Online Tour</h3>
        <p>Go to our blog</p>
      </div>

      <div class="divider"></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 footer-logo">
        <img src="./assets/img/logo.png">
        <p>I will give you a complete account of <br>the system,and expound</p><br>
        <p id="text"><strong> Phone: </strong> (408)800 8888</p>
        <p><strong> Email: </strong> Ezaula.com/test</p>

        <div class="socail-footer">
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-linkedin"></i></a>
          <a><i class="fa fa-vimeo circle"></i></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h4>About</h4>
        <div class="border-link"></div>
        <div class="footer-link">
          <ul class="list-unstyled ul-1">
            <a>
              <li>Ezaula.com&reg; Team</li>
            </a>
            <a>
              <li>Careers</li>
            </a>
            <a>
              <li>Curriculum Board</li>
            </a>
            <a>
              <li>Curriculum Overview</li>
            </a>
            <a>
              <li>Results and References</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 program">

        <h4>Popular Resources</h4>
        <div class="border-link"></div>
        <div style="margin-top: -18px;">
          <a>Newsletter</a>
          <div class="border-hr2"></div>
          <a>FGift Cards</a>
          <div class="border-hr2"></div>
          <a>Media Center</a>
          <div class="border-hr2"></div>
          <a>FAQs</a>
        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <h4>More Ezaula.com&reg;</h4>
        <div class="border-link"></div>
        <div class="footer-link">
          <ul class="list-unstyled ul-1">
            <a>
              <li>Kids Phonics</li>
            </a>
            <a>
              <li>Reading</li>
            </a>
            <a>
              <li>Math</li>
            </a>
            <a>
              <li>Pre-K</li>
            </a>
            <a>
              <li>Kindergarten</li>
            </a>
            <a>
              <li>Homeschooling</li>
            </a>
          </ul>
        </div>
      </div>


      <!-- <div class="media">
             <a class="pull-left">
                 <img src="https://via.placeholder.com/64">
             </a>
             <div class="media-body">
                 <p class="media-heading">Start Summer Language Club</p>

             </div>
         </div>

         <div class="media">
             <a class="pull-left">
                 <img src="https://via.placeholder.com/64">
             </a>
             <div class="media-body">
                 <p class="media-heading" style="color: #aeafb3;font-weight: bold;line-height: 2">Start Summer Language Club</p>

             </div>
         </div>

         <div class="media">
             <a class="pull-left">
                 <img src="https://via.placeholder.com/64">
             </a>
             <div class="media-body">
                 <p class="media-heading" style="color: #aeafb3;font-weight: bold;line-height: 2">Start Summer Language Club</p>

             </div>
         </div>-->
    </div>
  </div>
</footer>

<!-- bottom footer -->
<div class="section-last">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>@2019 Ezaula, Inc.</p>
      </div>

      <div class="col-sm-6">
        <p class="sub">UNSUBSCRIBE &nbsp; | &nbsp; SUBSCRIBE</p>
      </div>
    </div>
  </div>
</div>
